<section class="about-show">

  <header class="page-header jumbotron">
    <h2>About Us</h2>
    <p>In case you are interested...</p>
  </header>

  <p>
    Jungle was recently established, in February 2020.
    Our mission is to support modernism, innovation and revolution.   
    We offer some remarkable and interesting products that are not available anywhere. 
    If you have ever wished something that you are afraid suggesting someone to sell, 
    no worries, this is the place where you can find it!
    The best part, is that we don't judge your exotic taste. 
    Enjoy your time while navigating through our categories and products. 
    We hope you find that product you have been dreaming about. 
  </p>

  <div>
    <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>
  </div>

</section>




